body {
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Comic Sans MS";
}

.summary-container {
    width: 70%;
    margin: 20px auto;
}



/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #dd4f05;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/*
styling for table*/


table {
    border-collapse: collapse;
    width: 70%;
    margin: 0px auto;
}

/*
table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}*/

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.input-quantity {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.tr-hover:hover {background-color: #dd4f05;}

.btn-checkout {
    display: flex;
    /*width: 200px;
    height: 25px;*/
    border-color: #1c7430;
    background-color: #1e7e34;
    padding: 10px;
    /*align-items: center;*/
    border-radius: 5px;
    color: white;
    font-weight: bold;
    /*margin-bottom: 10px;
    text-align: center;*/
    text-decoration: none;
    justify-content: center;
}

.btn-checkout:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}


/* Extra small devices (phones, 600px and down) */
@media(max-width: 600px) { 
    .summary-container {
        margin: 20px auto;
        width: auto;
    }
}


/* for ipad screen sizes */
@media(max-width: 968px) { 
    .summary-container {
        margin: 20px auto;
        width: auto;
    }
}