body {
  /*font-family: "Roboto", sans-serif;*/
  font-family: "Comic Sans MS";
}

.confirm-container {
  text-align: center;
  margin-top: 80px;
}

h2 {
  color: #8a2e00;
  font-size: 3em;
}

a {
  text-decoration-color: #8a2e00;
  text-decoration-line: none;
  color: #8a2e00;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #dd4f05;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}