body {
    align-items: center;
    font-family: "Comic Sans MS";
}

.fa {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    padding-right: 5px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.dashboard-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 20px auto;
    background-color: #e9e9e9;
    height: 260px;
    width: 80%
}

.dashboard-header > div * {
    padding: 10px 0px;
}

.dashboard-header-item-2 {
    padding-right: 100px;
}

.dashboard-header-item-3 {
    display: inline-flex;
    list-style: none;
    align-self: center;
    text-align: center;
}

.dashboard-header-item-3 > ul {
    list-style: none;
}

.list-small {
    margin: 0px 5px;
}





.dashboard-main {
    display: flex;
    justify-content: space-around;
    /*margin: 0px 80px;*/
}

/*.dashboard-main * a {
    text-decoration: none;
    justify-content: center;
    color: #dd4f05;
}*/

li {
    text-decoration: none;
    color: #dd4f05;
}

.dashboard-main-item-1 * a {
    text-decoration: none;
    justify-content: center;
    color: #dd4f05;
}

.dashboard-main-item-1 > h5 {
    width: 690px;
    text-align: left;
    padding: 10px;
    border-bottom: 4px solid rgba(0,0,0,.1);
}
.dashboard-main-item-1 > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-main-item-2 > h5 {
    width: 300px;
    text-align: left;
    margin-left: 30px;
    padding: 10px;
    border-bottom: 4px solid rgba(0,0,0,.1);
}

.dashboard-main-item-2 > ul {
    list-style: none;
    justify-content: center;
}

.dashboard-main-item-2  li {
    justify-content: center;
}

.button {
    display: flex;
    width: 100px;
    height: 5px;
    background: #dd4f05;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
}

.button:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}






/* Extra small devices (phones, 600px and down) */
@media(max-width: 600px) {
    main {
        margin-top: 20px;
    }
    .dashboard-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        background-color: #e9e9e9;
        height: auto;
    }

    .dashboard-header-item-2 {
        padding: 0px;    
    }

    /* .dashboard-main {
        display: grid;    
    } */

    .dashboard-main {
        display: grid;
        margin: 0px 80px;
    }

    .dashboard-main-item-1 > h5 {
        width: auto;
        text-align: left;
        padding: 10px;
        border-bottom: 4px solid rgba(0,0,0,.1);    
    }

    .dashboard-main-item-1 > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    li {
        text-decoration: none;
        color: #dd4f05;
        padding: 5px;
    }

    .dashboard-main-item-2 > h5 {
        margin-left: 0px;
    }
}


@media (min-width: 601px) and (max-width: 968px) {
    .dashboard-main {
        max-width: 100%;
    }
    .dashboard-main-item-1 > h5 {
        width: auto;
        text-align: left;
        padding: 10px;
        border-bottom: 4px solid rgba(0,0,0,.1);    
    }

    li {
        text-decoration: none;
        color: #dd4f05;
        padding: 10px;
    }
}