
body {
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Comic Sans MS";
  }
  
  .managemeal-header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    margin: 20px;
  }
  
  .managemeal-header-item-1 {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    margin: auto;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0px 10px;
    text-align: center;
    height: 250px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  .create-button {
    background-color: #dd4f05;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  .delete-meal {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    /* width: 50%; */
    opacity: 0.9;
    padding: 10px;
    margin: 5px;
  }
  
  .edit-meal {
    background-color: lightskyblue;
    color: white;
    border: none;
    cursor: pointer;
    /* width: 50%; */
    opacity: 0.9;
    padding: 10px;
    margin: 5px;
  }
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #e9e9e9;
    color: black;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 40%;
    margin-left: 4px;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* design for the modal  */
  
  /* The Modal (background) */
  /* .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  } */
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 0;
    top: 0px; */
    width: 50%; /* Full width */
    height: auto; /* Full height */
    /*overflow: auto;  Enable scroll if needed */
    /* background-color: rgb(0,0,0);  Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
  }
  
  .modal-delete {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 0;
    top: 0px; */
    width: 50%; /* Full width */
    height: auto; /* Full height */
    /*overflow: auto;  Enable scroll if needed */
    /* background-color: rgb(0,0,0);  Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
  }
  
  /* Modal Content/Box */
  /* .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  } */
  
  .modal-content {
    background-color: #fefefe;
    /*margin: 15% auto;  15% from the top and centered 
    padding: 20px;*/
    /* border: 1px solid #888; */
    width: 50%; /* Could be more or less, depending on screen size */
    margin: auto;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media(max-width: 600px) { 
    .managemeal-header {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto;
        margin: 20px;    
    }
  
    .managemeal-header-item-1 {
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        grid-row-gap: 20px;
    }
  
    .managemeal-header-item-2 {
        margin-top: 20px;
    }
  
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 0px 10px;
        text-align: center;
        height: auto;    
    }

    .modal-content {
      width: 100%;
    }
    .cancelbtn, .signupbtn {
      width: 100%;
  }
  }
  
  
  /* for ipad (phones, 968px and down) */
  @media (min-width: 601px) and (max-width: 968px) { 
    .managemeal-header {
      display: grid;
      justify-content: space-between;
      grid-template-columns: auto auto;
      margin: 20px;
  }
    .managemeal-header-item-1 {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        margin: auto;
        grid-row-gap: 40px;
    }
    .modal-content {
      width: 100%;
    }
  }