/** {box-sizing: border-box}*/
body {
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Comic Sans MS";
}

h2 {
    text-align: center;
}
.order-header {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    /*align-content: center;*/
}

.order-header-item-1 {
    /* width: 70%; */
    display: grid;
    margin-left: 30px;
    margin-top: 10px;
    grid-template-columns: repeat(4, 200px);
    grid-row-gap: 20px;
}



/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    /*width: 30%;*/
    /*height: 300px;*/
}

/* Style the buttons inside the tab */
.tab button {
    /*display: block;*/
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*float: left;*/
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    /*width: 70%;*/
    border-left: none;
    /*height: 300px;*/
    display: grid;
    grid-template-columns: 200px 200px 200px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 300px;*/
    /*width: 200px;*/
    margin: 0px 10px;
    text-align: center;
    height: 250px;
}

.price {
    color: grey;
    font-size: 12px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #dd4f05;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

.card button:hover {
    opacity: 0.7;
}


/*
styling for table*/


table {
    border-collapse: collapse;
    width: 400px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.input-quantity {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.tr-hover:hover {background-color: #dd4f05;}

.btn-checkout {
    display: flex;
    /*width: 200px;
    height: 25px;*/
    border-color: #dd4f05;
    background-color: #dd4f05;
    padding: 10px;
    /*align-items: center;*/
    border-radius: 5px;
    color: white;
    font-weight: bold;
    /*margin-bottom: 10px;
    text-align: center;*/
    text-decoration: none;
    justify-content: center;
}

.btn-checkout:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/* design for mobiles phones with 600px and below */
@media(max-width: 600px) {
    .order-header {
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto;
    }

    .order-header-item-1 {
        display: grid;
        grid-row-gap: 20px;
        grid-template-columns: auto auto auto;
        overflow-x: auto;
    }

    .order-header-item-2 {
        margin-top: 20px;
    }
}

@media (min-width: 601px) and (max-width: 968px) { 
    /* .order-header {
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto;
    }

    .order-header-item-1 {
        width: 70%;
        display: grid;
        margin-left: 30px;
        margin-top: 10px;
        grid-template-columns: repeat(3,auto);
        grid-row-gap: 20px;
    } */
}