body {
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Comic Sans MS";
}

.caterer-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.caterer-container {
    text-decoration: none;
    color: black;
}

.caterer-container > div*:hover {
    text-decoration: none;
}

h2 {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

/* Extra small devices (phones, 600px and down) */
@media(max-width: 600px) {
    .caterer-container {
        display: grid;
        grid-template-columns: auto auto;
        width: 70%;
        margin: 20px auto;
        text-align: center;
    }

    img {
        width: 125px;
        height: 125px;
    }

    .caterer-container div {
        text-decoration: none;
        color: black;
        margin: 5px;
    }
}

@media (min-width: 601px) and (max-width: 968px) {
    .caterer-container div {
        text-decoration: none;
        color: black;
        margin: 10px;
    }
    .caterer-container {
        margin: auto 0px;
    }
}